.box {
    height: 430px;
}

.tips {
    height: 10px;
}

.roulette {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

/* .hand {
    position: absolute;
    z-index: 10;
}

.hand div {
    width: 10px;
    height: 10px;
    background-color: green;
    position: absolute;
    border-radius: 100px;
    animation: kf-size 800ms linear infinite;
}

.hand1 {
    top: 192px;
    left: 119px;
}

.hand2 {
    top: 101px;
    left: 323px;
}

.hand3 {
    top: 100px;
    left: 559px;
}

.hand4 {
    top: 166px;
    left: 779px;
} */

.section {
    display: flex;
    height: 430px;
    width: 800px;
    left: 100px;
    position: absolute;
    z-index: 10;
    -webkit-tap-highlight-color:transparent;
}

.section div {
    -webkit-tap-highlight-color:transparent;
}

.section1 {
    width: 140px;
    height: 430px;
    /* border: 2px solid greenyellow; */
    transform: rotate(-30deg);
    position: absolute;
    top: 20px;
    left: 2px;
}

.section2 {
    width: 140px;
    height: 360px;
    /* border: 2px solid greenyellow; */
    transform: rotate(-10deg);
    position: absolute;
    top: 13px;
    left: 194px;
}

.section3 {
    width: 140px;
    height: 360px;
    /* border: 2px solid greenyellow; */
    transform: rotate(10deg);
    position: absolute;
    top: 13px;
    left: 394px;
}

.section4 {
    width: 140px;
    height: 380px;
    /* border: 2px solid greenyellow; */
    transform: rotate(30deg);
    position: absolute;
    top: 52px;
    left: 587px;
}



/* .section > div {
    width: 25%;
    height: 100%;
} */

.items {
    width: 100%;
    height: 100%;
    position: relative;
}

.items > div {
    width: 100%;
    height: 100%;
    position: absolute;
}

.items img {
    position: absolute;
    z-index: 3;
}

.bag {
    transform: scale(0.5);
    animation: kf-size 800ms linear infinite;
}

/* ****************** */
.item1 {
}

.item1 .person1 {
    top: 140px;
    left: 93px;
}

.item1 .person2 {
    top: 136px;
    left: 81px;
    display: none;
}

.item1 .person3 {
    top: 136px;
    left: 81px;
    display: none;
}

.item1 .s0 {
    top: 276px;
    left: 140px;
}

.item1 .s1 {
    top: 261px;
    left: 140px;
    display: none;
}

.item1 .s2 {
    top: 260px;
    left: 144px;
    display: none;
}

.item1 .bag {
    top: 191px;
    left: 105px;
}

.item2 {

}

.item2 .person1 {
    top: 52px;
    left: 302px;
}

.item2 .person2 {
    top: 53px;
    left: 294px;
    display: none;
}

.item2 .s1 {
    top: 211px;
    left: 266px;
    display: none;
}

.item2 .s2 {
    top: 212px;
    left: 266px;
    display: none;
}

.item2 .bag {
    top: 95px;
    left: 302px;
}

.item3 {
}

.item3 .person1 {
    top: 52px;
    left: 539px;
}

.item3 .person2 {
    top: 53px;
    left: 533px;
    display: none;
}

.item3 .s1 {
    top: 213px;
    left: 434px;
    display: none;
}

.item3 .s2 {
    top: 214px;
    left: 463px;
    display: none;
}

.item3 .bag {
    top: 90px;
    left: 530px;
}

.item4 {
}

.item4 .person1 {
    top: 126px;
    left: 740px;
}

.item4 .person2 {
    top: 125px;
    left: 740px;
    display: none;
}

.item4 .s1 {
    top: 270px;
    left: 557px;
    display: none;
}

.item4 .bag {
    top: 154px;
    left: 751px;
}

@keyframes kf-size {
    form {
        opacity: 0.5;
        transform: scale(0.1)
    }

    to {
        opacity: 0;
        transform: scale(1.1)
    }
}