/* 全局 */
html, body {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'microsoft yahei', '微软雅黑', 'serif';
}

/* 框架 */
.wrapper {
    overflow: hidden;
    width: 1024px;
    height: 768px;
    background-image: url("bg.jpg");
    color: #099;
    letter-spacing: 1px;
    position: relative;
}

.container {
    width: 985px;
    margin: 0 auto;
}

/* 头尾 */
header, footer {
    width: 100%;
    height: 45px;
}

header {
    background: linear-gradient(#666 35%, #000 65%);
    line-height: 28px;
    color: #fff;
    text-align: center;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    background-image: url("footer-bg.jpg");
}

footer a {
    position: absolute;
    top: 0;
    display: block;
    height: 100%;
    font-size: 0;
    color: transparent;
}

footer a:nth-of-type(1) {
    left: 65px;
    width: 138px;
}

footer a:nth-of-type(2) {
    left: 214px;
    width: 145px;
}

footer a:nth-of-type(3) {
    left: 370px;
    width: 307px;
}

footer a:nth-of-type(4) {
    left: 687px;
    width: 297px;
}

/* 导航 */
.nav {
    margin: 15px auto 0;
    padding: 5px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30px;
    /* background-image: linear-gradient(to top, rgba(50, 200, 200, .5), #fff); */
    background-image: linear-gradient(to top, #c3edec, #fff);
    border: solid 2px #099;
    border-radius: 30px;
    list-style: none;
}

.nav a {
    font-size: 18px;
    color: #8f8f8f;
    text-decoration: none;
}

.nav a.active {
    font-weight: bold;
    color: #099;
}

.nav i {
    display: block;
    width: 1px;
    height: 30px;
    background-color: #8f8f8f;
}

/* 标题 */
h1 {
    margin: 15px auto;
    padding: 0 10px 0 35px;
    width: 880px;
    background: url('sub-logo.png') no-repeat left top/35px;
    font-weight: bold;
    font-size: 24px;
    line-height: 26px;
    color: #099;
}

h1 span{
    color: #e40e32;
    font-size: 28px;
    margin: 0 5px;
}

/* tips 描述区 */
.tips {
    height: 80px;
    width: 890px;
    margin: 0 auto;
    padding: 5px 0;
    font-size: 12px;
    color: #12a4a1;
    box-sizing: border-box;
}

/* copyright */
.copyright {
    margin: 5px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 935px;
}

.copyright span {
    font-size: 12px;
    color: #12a4a1;
}


/* 盒子 */
.box {
    position: relative;
    padding: 20px;
    margin: 10px auto 0;
    width: 890px;
    /* box-sizing: border-box; */
    height: 375px;
    background-color: #fff;
    border: solid 2px #099;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 97, 97, .75) inset;
}

/* 翻页 */

.tabs_prev, .tabs_next {
    position: absolute;
    top: 350px;
    display: block;
    width: 30px;
    height: 60px;
    background-image: url('icon-arrow.png');
    background-size: cover;
    opacity: 0;
    transition: opacity .5s linear;
}

.tabs_prev.cur, .tabs_next.cur {
    opacity: 1;
}

.tabs_prev {
    transform: rotate(180deg);
    left: 10px;
}

.tabs_next {
    right: 10px;
}

/* 待整理 */

.tabs_com {
    position: relative;
    list-style: none;
    margin: 0;
}

.tabs_box {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity .5s linear;
}

.tabs_box.cur {
    opacity: 1;
    z-index: 2;
}

.box_com {
    position: relative;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: solid 2px #099;
    border-radius: 10px;
    box-shadow: 0 0 7px rgba(0, 97, 97, .75) inset;
}

.wrap_scroll {
    overflow: hidden;
}

.wrap_scroll .scroll_y {
    overflow-x: hidden;
    overflow-y: auto;
    width: calc(100% + 20px);
    height: 100%;
}

.wrap_scroll .scroll_box {
    width: calc(100% - 20px);
}

/*pop_com*/
.pop_com {
    position: fixed;
    top: 55px;
    left: 15px;
    z-index: 20;
    margin: 0;
    display: none;
    width: 950px;
    height: 615px;
    font-size: 14px;
    color: #099;
}

.pop_close {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 3;
    display: block;
    width: 20px;
    height: 20px;
    background-color: #099;
    border-radius: 50%;
}

.pop_close:after, .pop_close:before {
    position: absolute;
    top: 4px;
    left: 9px;
    content: " ";
    display: block;
    width: 2px;
    height: 12px;
    background: #fff;
}

.pop_close:after {
    transform: rotate(45deg);
}

.pop_close:before {
    transform: rotate(-45deg);
}

.pop_com .tit {
    margin-top: -10px;
    margin-bottom: 0;
    font-weight: bold;
    font-size: 32px;
    height: 42px;
    color: #099;
    text-align: center;
}

.pop_com .txt {
    line-height: 1.5;
}

.pop_com [title=prescription] .txt p {
    margin: 5px 0 0 22px;
    font-size: 16px;
    line-height: 2;
    text-indent: -22px;
}

.pop_com .scroll_y {
    height: 585px;
}

.pop_com .txt .code {
    margin-top: 15px;
    font-size: 12px;
    color: #8f8f8f;
    text-align: right;
}

.body_com .tabs_com {
    margin: 0 auto;
}

.body_com .tabs_com, .body_com .tabs_box {
    width: 870px;
    height: 505px;
}
