.tips {
    color: #8f8f8f;
    height: 50px;
}

h3 {
    margin: 0;
    color: #4c4341;
}

 
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 320px;
}

.small-box {
    width: 230px;
    height: 230px;
    margin: 0 68px;
    position: relative;
    
}

.circle1 {
    width: 230px;
    height: 230px;
    border-radius: 230px;
    border: 2px solid #c7c7c7;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
}

.circle2 {
    width: 196px;
    height: 196px;
    border-radius: 196px;
    border: 40px solid #e6e7e8;
    box-sizing: border-box;
    position: absolute;
    top: 17px;
    left: 17px;
    padding-top: 30px;
}

.circle2 span {
    display: block;
    text-align: center;
}

.circle2 span.s1 {
    color: #f0aa57;
    font-weight: bold;
    font-size: 26px;
}


.circle3 {
    width: 196px;
    height: 196px;
    border-radius: 196px;
    border: 40px solid #57c2a2;
    box-sizing: border-box;
    position: absolute;
    top: 17px;
    left: 17px;
    clip: rect(0px, 196px, 98px, 0px);
    z-index: 2;
}

.mask {
    width: 196px;
    height: 196px;
    border-radius: 196px;
    border: 41px solid #e6e7e8;
    box-sizing: border-box;
    position: absolute;
    top: 17px;
    left: 17px;
    clip: rect(0px, 196px, 98px, 0px);
    z-index: 2;
}

.circle4 {
    width: 196px;
    height: 196px;
    border-radius: 196px;
    box-sizing: border-box;
    position: absolute;
    top: 17px;
    left: 17px;
    clip: rect(98px, 196px, 196px, 0px);
    z-index: 3;
    display: none;
}

.line {
    position: absolute;
    left: 135px;
    top: -14px;
    display: none;
}

.data {
    position: absolute;
    left: 230px;
    top: -27px;
    display: none;
}

.data span {
    display: block;
    text-align: center;
}

.data .s3 {
    font-size: 28px;
}

.text {
    position: absolute;
    width: 230px;
    left: 0;
    bottom: -45px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.item1 {
    color: #57c2a2;
}

.item2 {
    color: #56c1b5;
}

.item1 .circle3, .item1 .circle4 {
    border: 40px solid #57c2a2;
}

.item2 .circle3, .item2 .circle4 {
    border: 40px solid #56c1b5;
}

.circle4a {
    animation: kf-circle1 1000ms linear;
    animation-fill-mode: forwards;
}

.circle4b {
    animation: kf-circle2 800ms linear;
    animation-fill-mode: forwards;
}

.circle4c {
    animation: kf-circle0 1200ms linear;
    animation-fill-mode: forwards;
}

.info {
    position: absolute;
    color: #000;
}

@keyframes kf-circle0 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-180deg);
    }
}


@keyframes kf-circle1 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-150deg);
    }
}

@keyframes kf-circle2 {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(-111deg);
    }
}